html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
 
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }


.logo img {
  display: block;
  margin: 0 auto;
}


/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #451a02;
  text-align: center;
  z-index: 1; /* Set z-index to make sure it stays on top */
}

/* Navbar links */
#navbar a {
  
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin: 0 0;
  font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    font-weight: 500;
}

#navbar a:link {
  text-decoration: none;
  font-weight: 500;
}

#navbar a:visited {
  text-decoration: none;
  font-weight: 500;
}

#navbar a:hover {
  text-decoration: underline;
}

#navbar a:active {
  text-decoration: underline;
}



/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.main {
  margin-top: 115px;
  margin-bottom: 0px;
}

.main2 {
  margin-top: 60px;
}

.donate {
  max-width: 500px;
  border: 3px solid #DFD9B8;
  padding: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

.rowspace {
  padding-top: 50px;
  padding-bottom: 50px;
} 


  h1 {
    font-size: 24px;
    font-weight: 500;
    color: #973406;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: right;
   
    }

    a {
      color: #973406;
      font-weight: 500;
    }

    a:hover {
      color: #973406;
      text-decoration: underline;
      font-weight: bold;
    }

    a:active {
      text-decoration: underline;
    }

  h2 {
    font-size: 22px;
    font-weight: 400;
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: lighter;
    line-height: 24px;
  }
  
  blockquote {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #973406;
    line-height: 26px;
    font-weight: 500;
  }

 

  .icon img {
    width: 50px;
    height: auto;
    display: block;
    float: right;
    
  }

.bullets {
  padding-top: 5px;
  padding-bottom: 20px;
  text-indent: 20px;
  font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: lighter;
}

.vidpad {
  
  padding-right: 20px;
  padding-bottom: 40px;
}

.jumbotron {
  background: url(../images/headerpic2.png);
  background-attachment: fixed;
  background-repeat: no;
  background-size: cover;
  border-radius: 0;
  
}

.crowlake {
  background: url(../images/fishing3.png);
  
  background-repeat: no;
  background-size: cover;
  
  
}

.boat {
  background: url(../images/boat.png);
  background-attachment: fixed;
  background-repeat: no;
  background-size: cover;
  
}

.mission {
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  background-color: #ffffffc2;
  margin: 125px 125px;
  padding: 30px 30px;
}

.image img {
  margin-top:40px;
  margin-bottom: 40px;
  border-radius: 3px;
  
  box-shadow:3px 3px 7px #888888;
}

.footer {
  background-color: #451a02;
}

.footer p {
  color: white;
}

 

.proverbs {
  background-color: #f7f4f4a4;
} 
.container-fluid {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  padding-left: 0px;
  padding-right: 0px;
}



[id]::before {
  content: '';
  display: block;
  height:      175px;
  margin-top: -175px;
  visibility: hidden;
}

.videosize {
  width:356px;
  height:200px;
}

/* Responsive layout - Mobile and tablet*/
@media only screen and (max-width: 768px) {
h1 {
  text-align: left;
}



body {
  padding-left: 10px;
  padding-right: 10px;
}

.mobileheader {
  display: flex;
}

.icon img {
  max-width: 25px;
  height: auto;
  margin-left: 10px;
}
 


  .content {
    flex-direction: column;
  }

  .mission {
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    background-color: #ffffffc2;
    margin: 25px 25px;
    padding: 10px 10px;
  } 

  #navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin: 0 0;
    font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: #fff;
   
  }

}




